<div style="display: flex;">

  <div style="width: 30%;padding: 2%;">
    <a [routerLink]="['/left']">
        LEFT
    </a>
  </div>
  
  <div style="width: 30%;padding: 2%;">
    <a [routerLink]="['/about']">
        ABOUT
    </a>
  </div>

  <div style="width: 30%;padding: 2%;">
    <a [routerLink]="['/right']">
        RIGHT
    </a>
  </div>
</div>
<div style="display: flex;">
  <button (click)="goToAnotherAnimationModule()">
    GO TO Animation  Module
  </button>
</div>
<div [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>